<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nossas opções</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>


<div  class="container d-flex align-content-center flex-wrap">
  <div class="row">
    <div class=>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="../assets/imagens/rp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ribeirão preto</h5>
              <p class="card-text">Venha conhecer Ribeirão Preto.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="../assets/imagens/rp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Porto Alegre</h5>
              <p class="card-text">Turismo em Porto Alegre.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    
  </div>

  <div class="row">
    <div class=>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="../assets/imagens/rp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Belo</h5>
              <p class="card-text">O melhor queijo do Brasil.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="../assets/imagens/rp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">São Paulo</h5>
              <p class="card-text">O lugar que nunca dorme.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class=>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="../assets/imagens/rp.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Rio de Janeiro</h5>
              <p class="card-text">Cidade maravilhosa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="imagem-fundo"><img src="../assets/imagens/mapa.jpg" alt="..." class="img-thumbnail"></div>




